{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>FileNest - {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="96x96" href={% static 'favicon.png' %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100 relative min-h-screen">
    <nav class="bg-blue-500 p-4 shadow-lg">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-white text-lg font-bold"><h1 class="text-3xl">FileNest</h1></a>
            <div>
                <a href="{% url 'upload' %}" class="text-white px-4">Upload</a>
                <a href="{% url 'storage' %}" class="text-white px-4">Storage</a>
                <a href="{% url 'logout' %}" class="text-white px-4">Logout</a>
            </div>
        </div>
    </nav>

    <section class="container mx-auto py-8">
        {% block content %}{% endblock %}
    </section>

    <footer class="bg-gray-800 text-white text-center py-4 mt-8 absolute bottom-0 left-0 right-0">
        <p>&copy; 2025 FileNest. All rights reserved.</p>
    </footer>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</body>
</html>