{% extends "base.html" %}

{% block title %}Object Storage{% endblock %}

{% block content %}
<div class="min-h-115 my-4 md:mt-8 flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-max">
        <h1 class="text-3xl font-bold mb-6 text-center">Object Storage</h1>
        <hr class="mb-4">
        {% csrf_token %}
        {% if uploads %}
        <h2 class="text-xl font-semibold mt-6">Your Uploaded Files</h2>
        <table class="table-auto w-full my-4 border-collapse border border-gray-300">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border border-gray-300 px-4 py-2">No</th>
                    <th class="border border-gray-300 px-4 py-2">File Name</th>
                    <th class="border border-gray-300 px-4 py-2">File Size</th>
                    <th class="border border-gray-300 px-4 py-2">Server</th>
                    <th class="border border-gray-300 px-4 py-2">Uploaded At</th>
                    <th class="border border-gray-300 px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for upload in uploads %}
                <tr class="bg-white">
                    <td class="border border-gray-300 px-4 py-2">{{ uploads.start_index|add:forloop.counter0 }}</td>
                    <td class="border border-gray-300 px-4 py-2"><a href="{% url 'detail' upload.id %}" class="text-blue-500 underline">{{ upload.file_name }}</a></td>
                    <td class="border border-gray-300 px-4 py-2">{{ upload.file_size|filesizeformat }}</td>
                    <td class="border border-gray-300 px-4 py-2">
                        <i class="fa fa-hdd-o" aria-hidden="true"></i> <strong>Minio</strong>
                    </td>
                    <td class="border border-gray-300 px-4 py-2">{{ upload.uploaded_at }}</td>
                    <td class="border border-gray-300 px-4 py-2">
                        <button onclick="downloadFile('{{ upload.file_url }}', '{{ upload.file_name }}')" class="cursor-pointer w-12 bg-green-600 text-white px-3 py-1 rounded hover:bg-green-700">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        </button>
                        <button onclick="deleteFile('{{ upload.id }}')" class="cursor-pointer w-12 bg-red-500 text-white px-3 py-1 rounded hover:bg-red-700">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                        {% if upload.total_chunks > 1 %}
                            <button onclick="window.location.href='{% url 'detail' upload.id %}'"
                                    class="cursor-pointer w-12 bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600">
                                <i class="fa fa-th-list" aria-hidden="true"></i>
                            </button>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="border border-gray-300 px-4 py-2 text-center">No files available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Pagination Controls -->
        <div class="flex justify-center mt-4">
            {% if uploads.has_previous %}
                <a href="?page=1" class="px-3 py-1 mx-1 bg-gray-200 text-gray-700 rounded">First</a>
                <a href="?page={{ uploads.previous_page_number }}" class="px-3 py-1 mx-1 bg-gray-200 text-gray-700 rounded">Previous</a>
            {% endif %}

            <span class="px-3 py-1 mx-1 bg-blue-500 text-white rounded">
                Page {{ uploads.number }} of {{ uploads.paginator.num_pages }}
            </span>

            {% if uploads.has_next %}
                <a href="?page={{ uploads.next_page_number }}" class="px-3 py-1 mx-1 bg-gray-200 text-gray-700 rounded">Next</a>
                <a href="?page={{ uploads.paginator.num_pages }}" class="px-3 py-1 mx-1 bg-gray-200 text-gray-700 rounded">Last</a>
            {% endif %}
        </div>

        <script>
            function deleteFile(id) {
                Swal.fire({
                  title: "Are you sure?",
                  text: "You won't be able to revert this!",
                  icon: "warning",
                  showCancelButton: true,
                  confirmButtonColor: "#3085d6",
                  cancelButtonColor: "#d33",
                  confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                  if (result.isConfirmed) {
                      fetch(`/api/delete/${id}/`, {
                        method: "DELETE",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}",
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message) {
                            Swal.fire({
                              title: "Deleted!",
                              text: "Your file has been deleted.",
                              icon: "success"
                            });

                            // Wait for 500ms before redirect to the storage page
                            setTimeout(() => window.location.href = "{% url 'storage' %}", 500);
                        } else {
                            alert("Error: " + data.error);
                        }
                    })
                    .catch(error => console.error("Error deleting file:", error));
                  }
                });
            }

            function downloadFile(fileUrl, fileName) {
                fetch(fileUrl,
                    {
                        headers: new Headers(
                            {
                            Origin: location.origin,
                            }),
                        mode: "cors",
                    })
                    .then(response => response.blob())
                    .then(blob => {

                    const blobUrl  = URL.createObjectURL(blob);
                    const link = document.createElement("a");
                    link.href = blobUrl ;
                    link.download = fileName;
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                })
                .catch((e) => console.error(e));
            }
        </script>
        {% else %}
            <p>There is no upload files in this storage.</p>
        {% endif %}

    </div>
</div>
{% endblock %}
