{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-max">
        <h2 class="text-2xl font-bold mb-6 text-center">Upload Your File</h2>
        <hr class="mb-4">
        <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            <div class="field">
                <div class="control">
                    <label class="block text-gray-700 font-semibold">Choose a file:</label>
                    <input class="file-input w-full p-2 border border-gray-300 rounded" type="file" name="image_file">
                </div>
            </div>
            <div class="field">
                <div class="control text-center">
                    <input type="submit" value="Submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-700 cursor-pointer">
                </div>
            </div>
        </form>
        {% if image_url %}
        <p id="file_uploaded_msg" class="text-center text-green-500 mt-4" onload="uploadedFile()">File uploaded at: <a href="{{ image_url }}" class="text-blue-500 underline" >{{ image_url }}</a></p>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                Toastify({
                    text: "File uploaded successfully!",
                    className: "info",
                    duration: 3000,
                    gravity: "bottom", // `top` or `bottom`
                }).showToast();
            });
        </script>
        {% endif %}
    </div>
</div>
{% endblock %}
